@charset "utf-8";

#awCalendar
{
	background:#f5f5f5;
	border:1px solid #e2e2e2;
	width:168px;
	visibility:visible;
	position:absolute;
	z-index:99999;
	color:#999;
}
#awCalendar a
{
	color:#999;
	outline-style:none;
	text-decoration:none;
	cursor:pointer;
}
#awCalendar a:hover
{
	color:#000;
}
#awCalendar a.current
{
	color:#09F;
}
#awCalendar a.weekend
{
	color:#F00;
}
#awCalendar div
{
	margin:0 0 0 0;
	border:0px;
}
#awCalendar div.day
{
	float:left;
	height:24px;
	width:24px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}
#awCalendar div.day a:hover
{
	font-weight:bold;
}
#calendarTop
{
	text-align:right;
	padding:1px 4px 4px 1px;
	font-weight:bold;
	font-size:10px;
	background:#e2e2e2;
}
#calendarTop a
{
	margin:0 0 0 5px;
}
#calendarHeader
{
	text-align:center;
	padding:4px 0 4px 0;
	font-weight:bold;
}
#calendarHeader a
{
	font-weight:bold;
}
#calendarMonth
{
	width:120px;
	height:24px;
	display:inline-block;
}
#calendarPrev
{
	width:24px;
	height:24px;
	display:inline-block;
}
#calendarNext
{
	width:24px;
	height:24px;
	display:inline-block;
}